<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!-- log4j -->
    <!--<context-param>-->
        <!--<param-name>isLog4jAutoInitializationDisabled</param-name>-->
        <!--<param-value>false</param-value>-->
    <!--</context-param>-->
    <!-- 默认就会找这个文件，不需要额外配置引用
    <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>classpath:/log4j2.xml</param-value>
    </context-param>
   -->
    <!--<listener>-->
        <!--<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>-->
    <!--</listener>-->

    <!--<filter>-->
        <!--<filter-name>log4jServletFilter</filter-name>-->
        <!--<filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>log4jServletFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
        <!--<dispatcher>REQUEST</dispatcher>-->
        <!--<dispatcher>FORWARD</dispatcher>-->
        <!--<dispatcher>INCLUDE</dispatcher>-->
        <!--<dispatcher>ERROR</dispatcher>-->
    <!--</filter-mapping>-->

    <!-- Spring servlet -->
    <servlet>
        <servlet-name>springServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>WEB-INF/http-inbound-config.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>springServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
